<h1>List Names</h1>

  <ul>
    <% @lists.each do |list|%>
     <li>
     <%= link_to list.name, list %>
     </li>
    <% end %>
  </ul>

<%= link_to "Create New List", new_list_path %>
<%# delete list %>
