<h1>List Names</h1>

  <ul>
    <% @lists.each do |list|%>
     <li>
     <%= link_to list.name, list %>
     </li>
    <% end %>
  </ul>

<%# each list name will link to a like of movies, each of those movies will link to individual details about them %>
<%# create, edit, delete lists %>
